body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
}
*{
  color: white !important;
}
.nav-link.active {
	background: white;
	color: black !important;
}
.nav-link{
  margin: 0 15px !important;
}
.card-body *{
  color: black !important;
}
.form-control{
  color: black !important;
}
.progress-bar {
	background: green !important;
}